/* display 01 */
.display-01-400{
    font-size: 72px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.display-01-600{
    font-size: 72px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* heading 01 */
.h1-600{
    font-size: 56px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.h1-400{
    font-size: 56px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* heading 02 */
.h2-600{
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.h2-400{
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* heading 03 */
.h3-600{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.h3-400{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* heading 04 */
.h4-600{
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.h4-400{
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* heading 05 */
.h5-600{
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.h5-400{
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* body xxl */
.body-xxl-400{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.body-xxl-500{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.body-xxl-600{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* body xl */
.body-xl-400{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.body-xl-500{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.body-xl-600{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* body large */
.body-l-400{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.body-l-500{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.body-l-600{
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* body medium */
.body-m-400{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.body-m-500{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.body-m-600{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* body small */
.body-s-400{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.body-s-500{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.body-s-600{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* body tiny */
.body-tiny-400{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.body-tiny-500{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.body-tiny-600{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}